<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "scratchnapped.rne997.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Design your T-Shirt</name>

    <description>
        A designing game for kids
    </description>

    <author href="http://scratch.mit.edu/users/rne997" email="irenestefani997@gmail.com">
        rne997
    </author>

</widget>
